<nav>
    <div>
        {{!-- <a href="/management.html" data-route-link>Manage</a><br> --}}
        <img id="navLogo" width="300" src="/assets/logo2/eFinancialInsurance-logos_white.png" alt="eFinancialInsurance">
        <a class="{{indexActive}}" href="/index.html" data-route-link><i class="fa fa-home" aria-hidden="true"></i></a>
        <a class="{{researchActive}}"  href="/information.html" data-route-link>Research</a>
        <a class="{{propertiesActive}}"  href="/properties.html" data-route-link>Services</a>
        <a class="{{loginsActive}}"  href="/logins.html" data-route-link>Login</a>
        <a class="{{contactActive}}" href="/contact.html" data-route-link>Contact</a>
        <div id="navPhone" class="outlineButton">
            <button class="outlinedButton small"><i class="fas fa-phone"></i> (801) 859 1472</button>
        </div>

    </div>
</nav>