{{> navbar }}

<div id="services">
    <img id="servicesImage" src="images/properties.jpg" alt="Properties">
    {{!-- {{> searchbar }} --}}

    <h2>{{allServices.length}} Services Available</h2>

    <div id="cardsContainer">

        <div class="cards">

            {{#each allServices}}

                <a href="/generic.html?page=serviceDetail&serviceId={{id}}" data-route-link>
                <div class="card">
                    <img class="cardImage" src="images/{{imageFilename}}" alt="{{imageFilename}}">
                    <div class="cardCity">{{title}}</div>
                    <div class="cardType">{{shortDescription}}</div>
                    <div class="cardPrice">$ {{price}}</div>
                    <div class="cardFooter">
                        {{!-- <div><i class="fas fa-chart-area"></i> {{area}} Sqft</div>
                        <div><i class="fas fa-bed"></i> {{bedrooms}} Bedrooms</div>
                        <div><i class="fas fa-bath"></i> {{bathrooms}} Bathrooms</div> --}}
                    </div>
                    {{status}}
                </div></a>

            {{/each}}

        </div>
    </div>
</div>

{{> footer}}


